body {
  background: #1c1a19;
}

.main-body {
  background-image: url("pictures/Group.png");
  background-position: 240px 270px;
  background-repeat: no-repeat;
  height: 570px;
}

header {
  align-items: center;
  justify-content: space-between;
  background: #3c3a39;
  margin: -7px;
}

.d-flex {
  display: flex;
}

.name {
  position: static;
  text-decoration: none;
  width: 77px;
  height: 24px;
  left: 12px;
  top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

h1 {
  width: 327px;
  height: 124px;
  margin-left: 24px;
  margin-top: 120px;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
}

h3 {
  width: 327px;
  height: 27px;
  margin-left: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

p {
  width: 327px;
  height: 123px;
  margin-left: 24px;
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.icons {
  display: flex;
  list-style: none;
  margin-left: 24px;
}

li {
  margin-right: 15px;
}
