body {
  background: #1c1a19;
}

.main-body {
  background-image: url("pictures/Group.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  flex-direction: column;
}

header {
  align-items: center;
  justify-content: space-between;
  background: #3c3a39;
}

.d-flex {
  display: flex;
}

.name {
  position: static;
  text-decoration: none;
  width: 77px;
  height: 24px;
  left: 12px;
  top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

h1 {
  width: 327px;
  height: 124px;
  margin-left: 24px;
  margin-top: 120px;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
}

h3 {
  width: 327px;
  height: 27px;
  margin-left: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.prds {
  width: 327px;
  height: 123px;
  margin-left: 24px;
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.icons {
  display: flex;
  list-style: none;
  margin-left: 24px;
  margin-bottom: 130px;
}

li {
  margin-right: 15px;
}

.second-main {
  display: grid;
  align-items: center;
  background: #e5e5e5;
}

.line {
  margin-bottom: 80px;
}

h4 {
  font-size: 42px;
  font-weight: lighter;
}

h5 {
  font-size: 32px;
}

.colum-call {
  flex-direction: column;
}

.par-black {
  color: #1c1a19;
  margin: 0;
}

.activ-g {
  background-image: url("pictures/ImgPlaceholder2.png");
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 60px;
}

h6 {
  font-size: 32px;
  margin-bottom: 0%;
  color: #fff;
}

.linksd {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 0%;
}

.transla {
  margin: 2px;
}

.text2 {
  font-size: 16px;
  margin-bottom: 0%;
}

.button {
  height: 48px;
  width: 327px;
  color: #fff;
  background-color: #ff6b00;
  font-size: 17px;
}

.laspart {
  align-items: center;
  background-image: url("pictures/end.png");
  background-position: 240px 270px;
  background-repeat: no-repeat;
  height: 570px;
}

h2 {
  color: #ff6b00;
  font-size: 72px;
}

.texf {
  font-size: 16px;
  color: #fff;
}

.constys {
  margin-top: 35px;
}

.butm {
  height: 48px;
  width: 161px;
  color: #fff;
  background-color: #ff6b00;
}

.en {
  margin-left: 20px;
}

.endt {
  font-size: 32px;
  margin-left: 5px;
}

.enlase {
  list-style: none;
}

a {
  font-size: 22px;
  text-decoration: none;
  color: #fff;
}

.form {
  background-color: #fff;
  width: 100%;
  margin: 0;
}

.form-legend {
  color: #172b4d;
  padding-top: 120px;
  margin-bottom: 59px;
}

.input-text-email {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 14px;
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
  color: #979493;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 24px;
  width: 87vw;
}

.textarea-message {
  border: none;
  resize: none;
  padding: 12px;
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
  background-color: #fbf8f7;
  color: #644231;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 24px;
  width: 87vw;
}

.text-area-container {
  position: relative;
}

.text-area-message::placeholder {
  color: #1c1a19;
  z-index: 1;
}

.resizer-handle {
  position: absolute;
  bottom: 34px;
  right: 14px;
}

.last-b {
  background-color: #f55800;
  width: 131px;
  height: 48px;
  padding: 12px;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 206px;
}

.last-b:hover {
  background-color: #fff5e1;
  width: 131px;
  height: 48px;
  padding: 12px;
  color: #f55800;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 206px;
  border: 1px solid #f55800;
}

.last-b:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.d-flex-colum {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

@media (min-width: 1024px) {
  header {
    height: 53px;
    justify-content: space-between;
  }

  .left-side-head {
    margin: 154px;
  }

  .righ-side-head {
    margin: 154px;
  }

  .name-desk {
    margin-right: 15px;
    font-size: 15px;
  }

  .only-mob {
    display: none;
  }

  .main-body {
    background-image: url(pictures/Illustrationheade@2x.png);
    background-size: contain;
    background-position: 100% 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .icons {
    flex-direction: column;
    margin-top: 200px;
    padding: 0px;
  }

  .marg-lefts {
    margin-left: 80px;
  }

  .icon-alin {
    margin-bottom: 20px;
    margin-right: 50px;
  }

  .colum-call {
  flex-direction: row;
  }

  .two-row h4 {
    display: flex;
    background-image: url("/pictures/line-desk.png");
    background-position: 70% 50%;
    background-size: 500px;
    background-repeat: no-repeat;
    font-size: 35px;
  }
  .line {
    display: none;
  }

  .big-imhs {
    height: 350px;
    margin-right: 12px;
  }

  .first-box {
    background-image: url(/pictures/ImgPlaceholder33.png);
    background-repeat: no-repeat;
    margin-left: 10px;
    
  }

  .first-box1 {
    background-image: url("/pictures/ImgPlaceholder44.png");
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
  }
  h2 {
    font-size: 32px;
    color: #fff;
    margin-top: 170px;
    margin-left: 15px;
  }

  p {
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    margin-left: 10px;
  }

  .last-b {
    background-color: #f55800;
    width: 300px;
    height: 58px;
    padding: 12px;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 377px;
  }

  .box-type-3 {
    background-image: url("/pictures/ImgPlaceholder55.png");
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 130px;
  }
}

@media (max-width: 425px) {
  .name-desk {
    display: none;
  }
}
